@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html {
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

div,
span {
  box-sizing: border-box;
}
